@model MVCCasino.Models.DepositViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Deposit</title>
</head>
<body>
<div>
    <h2>Deposit Funds</h2>
    
    <form asp-controller="Transaction" asp-action="Deposit" method="post" id="depositForm">
        <div class="form-group">
            <label asp-for="Amount">Deposit Amount:</label>
            <input asp-for="Amount" name="amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
    
        <button type="submit" class="btn btn-primary">Deposit</button>
    </form>
</div>
<script src="~/js/deposit.js"></script>

</body>
</html>