@{
    Layout = null;
    ViewBag.Title = "Deposit Page";
}

<head>
    <link rel="stylesheet" href="@Url.Content("~/css/deposit.css")"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/deposit.js"></script>
    <title>Deposit</title>
</head>

<body>
<div class="deposit-container">
    <h2>Deposit Funds</h2>
    <form action="" method="post">
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount" required>
        <button type="button" id="depositButton">Deposit</button>
    </form>

    <a href="/Home" class="back-button">Back</a>
</div>
</body>